<mat-progress-bar *ngIf="progressService.visible" mode="indeterminate"></mat-progress-bar>
<h2>Add new product category</h2>
<div class="grid">
  <form mat-form [formGroup]="dataForm">
    <div class="3/4 grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="categoryName" matInput>
      </mat-form-field>
      <mat-error>{{getErrorMessage("categoryName")}}</mat-error>
    </div>
    <div class="3/4 grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input formControlName="categoryDescription" matInput>
      </mat-form-field>
      <mat-error>{{getErrorMessage("categoryDescription")}}</mat-error>
    </div>
    <div class="3/4 grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Product Category Parent</mat-label>
        <input formControlName="parentCategory" matInput>
      </mat-form-field>
    </div>
  </form>
  <div class="grid grid__cell">

    <h3>Categories:</h3>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="example-tree-node-content" (click)="$event.stopPropagation(); onNodeSelect(node)">
          {{node.name}}
        </div>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="example-tree-node-content" (click)="$event.stopPropagation(); onNodeSelect(node)">
          {{node.name}}
        </div>
      </mat-tree-node>
    </mat-tree>

    <button [disabled]="isSubmitting" mat-flat-button class="save-button" color="primary" (click)="save()">
      Save
    </button>
  </div>
</div>
