<mat-progress-bar *ngIf="progressService.visible" mode="indeterminate"></mat-progress-bar>
<h2>{{getHeader()}}</h2>
<div class="grid">
  <form mat-form [formGroup]="dataForm">
    <div class="3/4 grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input formControlName="productName" matInput>
      </mat-form-field>
      <mat-error>{{getErrorMessage("productName")}}</mat-error>
    </div>
    <div class="3/4 grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Product Category</mat-label>
        <input formControlName="productCategory" matInput>
      </mat-form-field>
    </div>
    <div class="grid__cell pull-right">
      <button mat-flat-button class="save-button" color="primary" (click)="save()">
        Save
      </button>
      <button *ngIf="!isInEditMode" mat-flat-button class="save-button" style="margin-left: 8px;" color="primary"
        (click)="saveAndAddNext()">
        Save And Add New
      </button>
    </div>
  </form>
  <div class="grid grid__cell 1/3--desk">
    <h2 style="margin-top:16px">Categories</h2>
    <button mat-flat-button color="primary" (click)="expandAll()">Expand All</button>
    <button style="margin-left: 8px" mat-flat-button color="primary" (click)="collapseAll()">Collapse All</button>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="example-tree-node-content" (click)="$event.stopPropagation(); onNodeSelect(node)">
          {{node.name}}
        </div>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="example-tree-node-content" (click)="$event.stopPropagation(); onNodeSelect(node)">
          {{node.name}}
        </div>
      </mat-tree-node>
    </mat-tree>
  </div>
</div>
