<mat-toolbar>
  <mat-toolbar-row class="grid">
      <div class="grid__cell 3/5">
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        <a mat-button routerLink="/department" routerLinkActive="active">Department</a>
        <a mat-button routerLink="/weather" routerLinkActive="active">Weather forecast</a>
      </div>
      <div *ngIf="(isUserLoggedIn$ | async)" class="grid__cell 1/5">
        <p>Hello: {{username$ | async}}</p>
        <a mat-button routerLink="/logout" routerLinkActive="active">Logout</a>
      </div>
      <div *ngIf="!(isUserLoggedIn$ | async)" class="grid__cell 1/5">
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
        <button mat-button routerLink="/register">Register</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
